<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Por que Escolher nossa Fornecedora</h2>
        </div>
        <br>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Atendimento Profissional</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Nosso atendimento é excepcional. Colocamos nossos clientes em primeiro lugar e 
                            trabalhamos para fornecer soluções personalizadas e eficientes. Valorizamos sua satisfação e 
                            estamos prontos para superar suas expectativas. Escolha nossa empresa e experimente o melhor 
                            atendimento ao cliente.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Sistema Simples e Intuítivo</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Nosso site é uma referência no mercado de fornecimento de produtos para 
                            cafeterias e derivados. Com uma interface amigável e intuitiva, é fácil encontrar os produtos 
                            que você precisa para o seu negócio. Oferecemos uma ampla variedade de opções de alta 
                            qualidade, que atendem às suas necessidades específicas</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Compras Seguras</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Oferecemos um ambiente seguro e confiável para suas compras. 
                            Utilizamos tecnologia avançada para garantir a proteção de seus dados e informações
                             pessoais. Além disso, oferecemos diversas opções de pagamento seguras, para que 
                             você possa escolher a que mais se adequa às suas necessidades. Não se preocupe 
                             com a segurança de suas compras, escolha nosso site e tenha tranquilidade em cada 
                             transação.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Transparência nas Informações</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Oferecer informações detalhadas sobre os produtos é essencial 
                            para que os clientes possam tomar decisões informadas sobre suas compras. 
                            Nossa empresa entende isso e se esforça para fornecer informações claras e 
                            completas sobre cada produto em nosso catálogo.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>