<div class="bg-image"></div>
<app-cafe-solutions></app-cafe-solutions>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> CaféSolutions
    </a>
    <ul>
      <li>
        <a (click)="handleLoginAction()">Login</a>
        <a (click)="handleCadastrarAction()">Cadastrar</a>
        <a (click)="handleEsqueceuSenhaAction()">Esqueceu Senha</a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>Christian Alves</h2>
</div>